.banner-container{
    background-color: black;
    width: 100%;
    padding :10px;
    padding-left: 100px;
    position: fixed;
    top: 0;
    width: 100%;
}
.banner-content {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
.banner-logo{
    width: 15%;
    margin-left: 20px;
    padding-right: 10px;
    margin-right: 100px;
    padding-top: 20px;
}
.banner-menu{
    display: flex;
    width: 85%;
    text-transform: uppercase;
    /* font:caption; */
    padding-left: 85px;
    font-size: 15px;
    
}
.align_link{
    padding: 5px;
    margin: 5px;
}
.banner-menu a{
    color: azure;
    text-decoration: none;
}
.banner-menu a:hover{
    background-color:hsl(73, 38%, 55%);
    
}
.banner-menu button{
    background-color:hsl(73, 38%, 55%);
    border-radius: 8px;
    padding: 15px;
}
